.showinfo {
	background-attachment: fixed;
	background-color: #FFFFFF;
	/*background-image: url(../images/look.JPG);*/
	background-repeat: repeat;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 60px;
	border: 1px solid #000000;
	cursor: hand;
}
.buy {
	background-attachment: fixed;
	background-color: #FFFFFF;
	/*background-image: url(../images/looks.JPG);*/
	background-repeat: repeat;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 60px;
	border: 1px solid #000000;
	cursor: hand;
}
